{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center pb-2" style="font-size: 50px;">Welcome to ECertifia</h2>

    <div class="p-5" >
        <div class="row">
            <div class="col-md-6" style="font-size: 1.5em;">
            We are an innovative online learning platform designed to connect students with a diverse range of courses. Explore, learn, and achieve your educational goals in a dynamic and user-friendly environment. Join a community of learners and instructors dedicated to fostering knowledge and skill development. Start your educational journey with ECertifia today
            <a class="nav-link btn btn-success m-5" href="{% url 'accounts:signup' %}">Sign Up</a>
            </div>
            <div class="col-md-6">
                <img src="static/ecertificate/images/sample_certificate.jpg" style="width: 500px; height: auto;" alt="Sample Certificate">
            </div>
        </div>
    </div>

    
{% endblock %}